@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-state {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.score {
    align-self: center;
}

.game-options {
    display: flex;
    gap: 50px;
    padding-top: 20px;
}

.game-prompt {
    display: flex;
    flex-direction: column;
}

.game-prompt-text {
    justify-self: center;
    align-self: center;
    width: fit-content;
}

.rock, 
.paper,
.scissors {
    padding: 10px;
    width: 100px;
}

.outcome {
    align-self: center;
}


